*{
    margin: 0;
    padding: 0;
}

header{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px;
    padding-bottom: 0px;
    
}

a{
    text-decoration: none;
    color: #000;
    margin: 50px;
    font-size: 20px;
}


.logo{
    width: 200px;
}
main{
    margin-top: 0px;
}

input{
    border-radius: 10px;
}