@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*algumas partes do header feita com auxilio do: Inteliogia*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Kanit', Verdana, sans-serif;
}

html{
    height: 300vh;
}

.container{
    max-width: 1280px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 70px 4%;
    transition: .7s;
}

header.rolagem{
    background-color: #fff;
    padding: 5px 3%;
}

header.rolagem ul a{
    color: #303030;
}
header a i{
    color: #ffffff;
} 

header.rolagem a i{
    color: #303030;
} 


header a{
    width: 50px;
}

.logo{
    width: 390%;
}

header ul{

    list-style-type: none;

}

header ul li{
    display: inline-block;
    margin: 0 20px;
}

header ul a{
    color: #ffffff;
}

header button{
    background-color: transparent;
}


.fundo{
    height: 100vh;
    background-image: url(./../assets/carro-esportivo-dirigindo-na-estrada-de-asfalto-a-noite-ia-generativa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo h1{
    font-family: 'Josefin-Sans', 'Kanit', Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 4em;
    color: #ffffff;
}

.fundo h1 span{
    color: #db0000;
}

.cart-login{
    border: none;
    box-shadow: none;
    background-color: transparent;
    transition: .2s;
    cursor: pointer;
}

.cart-login i{
    font-size: 25px;
}


/*tentativa de colocar linhazinha abaixo do link*/
nav ul {
    list-style-type: none;
    position: relative;
}
nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}
nav ul li a::after {
    content: " ";
    width: 0;
    height: 4px;
    background-color: #db0000;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.5s ease-in-out;
}
nav ul li a:hover::after {
    width: 100%;
}



.card {
    flex-direction: row;
    max-width: 100%;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: #313131;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  }
  .card img {
    max-width: 25%;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
  }
  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .text-section {
    max-width: 60%;
  }
  .cta-section {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .cta-section .btn {
    padding: 0.2em 0.5em;
    font-size: 1em;
    color: #696969;
  }
  .card-text {
    letter-spacing: 0.1em;
  }